@import "../../components/GlobalStyle/mixins";

.contact__bg {
  margin-top: var(--header--height);
  background-image: url("../../assets/contact/bg.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  //   @include Responsive(tablet) {
  //     background: none;
  //   }

  //   @include Responsive(smartPhone) {
  //     width: 40vh;
  //   }
}

.contact__message {
  background-color: #fff;
  border: 0.3px solid #c4c0c0;
  padding: 50px;
  min-width: 380px;

  @include Responsive(pc) {
    animation: textFly 4s forwards;
  }

  & h2 {
    color: var(--main-color);
    //font-size: 1.6rem;
  }
}
.contact__form {
  display: flex;
  flex-direction: column;

  & button {
    width: 100%;
    color: #fff;
    background-color: var(--main-color);
    border-radius: 25px;
    margin-top: 2rem;
    cursor: pointer;
    opacity: 0.8;
    border: 1px solid var(--main-color);
    font-size: 1.6rem;
    padding: 4px;
  }
}

.form__label {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 1.2rem;
}

.form__input {
  border: 0.5px solid #000;
  border-radius: 5px;
  font-size: 1.4rem;
  height: 2.8rem;
  outline: none;
  padding: 8px;
  width: 100%;
}

.form__feedback {
  font-size: 1.2rem;
  color: red;
}

@keyframes textFly {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
